@use '../variables';
.btn__dark-mode-toggle {
  z-index: 1000;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: .5rem;
  border: 2px solid transparent;
}

.theme__light .btn__dark-mode-toggle {
  background-color: #ebf5ff;
}

.theme__dark .btn__dark-mode-toggle {
  background-color: #000000;
}

.btn__dark-mode-toggle i {
  font-size: 1.5rem;
}

.theme__light .btn__dark-mode-toggle i {
  color: #000000;
}

.theme__dark .btn__dark-mode-toggle i {
  color: #ffffff;
}

.btn__dark-mode-toggle:hover {
  border-width: 2px;
  border-style: solid;
}

.theme__light .btn__dark-mode-toggle:hover {
  border-color: #3d3d3d;
}

.theme__dark .btn__dark-mode-toggle:hover {
  border-color: #c2c2c2;
}

.btn__menu {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
}

.btn__menu i {
  font-size: 1.25rem;
}

.theme__light .btn__menu i {
  color: #000000;
}

.theme__dark .btn__menu i {
  color: #ffffff;
}

.btn__enroll {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.theme__light .header__solid {
  background-color: #ebf5ff;
}

.theme__dark .header__solid {
  background-color: #000000;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.brand a {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #0080FF;
}

.theme__light .brand a span {
  color: #000000;
}

.theme__dark .brand a span {
  color: #ffffff;
}

.nav {
  display: none;
}

main {
  position: relative;
}

.hero {
  min-height: 100vh;
}

.theme__light .hero {
  background-color: #ebf5ff;
}

.theme__dark .hero {
  background-color: #000000;
}

.other {
  min-height: 130vh;
}

@media (min-width: 48rem) {
  .header__wrapper {
    height: 4rem;
    max-width: 90rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .brand {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .btn__menu {
    display: none;
  }
  .btn__enroll {
    display: block;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #0080FF;
    color: #ffffff;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .nav {
    display: block;
  }
  .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item {
    white-space: nowrap;
  }
  .nav__item a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem;
  }
  .theme__light .nav__item a {
    color: #000000;
  }
  .theme__dark .nav__item a {
    color: #ffffff;
  }
}
/*# sourceMappingURL=style.css.map */