@use '../variables';
.btn__dark-mode-toggle {
  z-index: 1000;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: .5rem;
  border: 2px solid transparent;
}

.theme__light .btn__dark-mode-toggle {
  background-color: #f5faff;
}

.theme__dark .btn__dark-mode-toggle {
  background-color: #002447;
}

.btn__dark-mode-toggle i {
  font-size: 1.5rem;
}

.theme__light .btn__dark-mode-toggle i {
  color: #000000;
}

.theme__dark .btn__dark-mode-toggle i {
  color: #ffffff;
}

.btn__dark-mode-toggle:hover {
  border-width: 2px;
  border-style: solid;
}

.theme__light .btn__dark-mode-toggle:hover {
  border-color: #3d3d3d;
}

.theme__dark .btn__dark-mode-toggle:hover {
  border-color: #c2c2c2;
}

.btn__menu {
  min-width: 2.5rem;
  min-height: 2.5rem;
}

.btn__menu i {
  font-size: 1.25rem;
}

.theme__light .btn__menu i {
  color: #000000;
}

.theme__dark .btn__menu i {
  color: #ffffff;
}

.btn__enroll {
  display: none;
}

.body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 16rem;
      grid-template-rows: auto auto 16rem;
      grid-template-areas: "header" "main" "footer";
}

.no-scroll {
  overflow-y: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 190;
  background-color: rgba(0, 0, 0, 0.5);
}

.hide {
  display: none;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  -webkit-transition: -webkit-box-shadow 500ms ease 0s;
  transition: -webkit-box-shadow 500ms ease 0s;
  transition: box-shadow 500ms ease 0s;
  transition: box-shadow 500ms ease 0s, -webkit-box-shadow 500ms ease 0s;
}

.theme__light .header {
  background-color: #f5faff;
}

.theme__dark .header {
  background-color: #002447;
}

.theme__light .header__solid {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
}

.theme__dark .header__solid {
  -webkit-box-shadow: 0 3px 6px rgba(255, 255, 255, 0.24);
          box-shadow: 0 3px 6px rgba(255, 255, 255, 0.24);
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.brand {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.brand a {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #0080FF;
}

.theme__light .brand a span {
  color: #000000;
}

.theme__dark .brand a span {
  color: #ffffff;
}

.menu {
  position: relative;
}

.nav {
  position: fixed;
  top: 47px;
  right: -12rem;
  height: 100%;
  white-space: nowrap;
  width: 12rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.theme__light .nav {
  background-color: #f5faff;
}

.theme__dark .nav {
  background-color: #002447;
}

.nav__active {
  right: 0;
}

.main {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.theme__light .main {
  background-color: #f5faff;
}

.theme__dark .main {
  background-color: #002447;
}

.main__wrapper {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.hero__text {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.theme__light .hero__text {
  color: #000000;
}

.theme__dark .hero__text {
  color: #ffffff;
}

.hero__heading {
  line-height: 1;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

.hero__description {
  margin-top: 1.5rem;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.hero__illustration {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero__illustration img {
  width: 100%;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #001429;
}

.footer__wrapper {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

@media (min-width: 48rem) {
  .header__wrapper {
    max-width: 90rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.75rem 2.25rem;
  }
  .btn__menu {
    display: none;
  }
  .btn__enroll {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #0080FF;
    color: #ffffff;
  }
  .nav {
    position: unset;
  }
  .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item {
    white-space: nowrap;
  }
  .nav__item a {
    position: relative;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75rem;
  }
  .theme__light .nav__item a {
    color: #000000;
  }
  .theme__dark .nav__item a {
    color: #ffffff;
  }
  .nav__item a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0.75rem;
    right: 0.75rem;
    height: 2px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  }
  .theme__light .nav__item a:after {
    background-color: #000000;
  }
  .theme__dark .nav__item a:after {
    background-color: #ffffff;
  }
  .nav__item a:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .main__wrapper {
    max-width: 90rem;
    margin: 0 auto;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__text {
    width: 50%;
    text-align: start;
  }
  .hero__heading {
    font-size: 4rem;
  }
  .hero__description {
    font-size: 1.5rem;
  }
  .hero__illustration {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__illustration img {
    width: 84%;
  }
  .footer__wrapper {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
/*# sourceMappingURL=style.css.map */