$t1: 2rem;
$t2: 1.5rem;
$t3: 1.25rem;
$t4: 1rem;
$t5: 0.875rem;
$t6: 0.75rem;

$font-family-heading: 'Oswald', sans-serif;
$font-family-text: 'Montserrat', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;

$padding: 0.75rem;
$margin: 0.75rem;