* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

ul {
    list-style: none;
}