@import '../scss/variables';
@import '../scss/utilities/themes';
@import '../scss/components/buttons';

.btn {

    &__dark-mode-toggle {
        z-index: 1000;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        border-radius: .5rem;
        border: 2px solid transparent;

        @include themify($themes) {
            background-color: themed('backgroundColor');
        }


        i {
            font-size: 1.5rem;

            @include themify($themes) {
                color: themed('iconColor');
            }

        }

        &:hover {
            border-width: 2px;
            border-style: solid;

            @include themify($themes) {
                border-color: themed('borderColor');
            }

        }

    }

    &__menu {
        margin-left: $margin;
        margin-right: $margin;
        min-width: 2.5rem;
        min-height: 2.5rem;

        i {
            font-size: $i3;

            @include themify($themes) {
                color: themed('iconColor');
            }
        }

    }

    &__enroll {
        display: none;
    }

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    transition: background-color 300ms ease-in-out;

    &__solid {
        @include themify($themes) {
            background-color: themed('backgroundColor');
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.brand {
    font-family: $font-family-heading;
    font-size: $t1;
    font-weight: $font-weight-bold;
    margin-left: $margin;
    margin-right: $margin;

    a {
        padding-top: $padding;
        padding-bottom: $padding;
        color: $color-primary;

        span {
            @include themify($themes) {
                color: themed('textColor');
            }
        }
    }

}

.nav {
    display: none;
}

main {
    position: relative;
}

.hero {
    min-height: 100vh;

    @include themify($themes) {
        background-color: themed('backgroundColor');
    }

}

.other {
    min-height: 130vh;
}

@media (min-width: 48rem) {

    .header {

        &__wrapper {
            height: 4rem;
            max-width: 90rem;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }

    .brand {
        margin-left: $margin * 2;
        margin-right: $margin * 2;
    }

    .btn {

        &__menu {
            display: none;
        }

        &__enroll {
            display: block;
            @include button-colored;
            margin-left: $margin * 2;
            margin-right: $margin * 2;
        }

    }

    .nav {
        display: block;

        &__items {
            display: flex;
            align-items: center;
        }

        &__item {
            white-space: nowrap;

            a {
                text-decoration: none;
                font-family: $font-family-text;
                font-size: $t4;
                font-weight: $font-weight-semiBold;
                padding: $padding;

                @include themify($themes) {
                    color: themed('textColor');
                }

            }

        }

    }

}