@import '../scss/variables';
@import '../scss/utilities/themes';
@import '../scss/components/buttons';

.btn {

    &__dark-mode-toggle {
        z-index: 1000;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        border-radius: .5rem;
        border: 2px solid transparent;

        @include themify($themes) {
            background-color: themed('backgroundColor');
        }


        i {
            font-size: 1.5rem;

            @include themify($themes) {
                color: themed('iconColor');
            }

        }

        &:hover {
            border-width: 2px;
            border-style: solid;

            @include themify($themes) {
                border-color: themed('borderColor');
            }

        }

    }

    &__menu {
        min-width: 2.5rem;
        min-height: 2.5rem;

        i {
            font-size: $i3;

            @include themify($themes) {
                color: themed('iconColor');
            }
        }

    }

    &__enroll {
        display: none;
    }

}

.body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto auto 16rem;
    grid-template-areas: "header"
        "main"
        "footer";
}

.no-scroll {
    overflow-y: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 190;
    background-color: rgba(0, 0, 0, 0.5);
}

.hide {
    display: none;
}

.header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    transition: box-shadow 500ms ease 0s;

    @include themify($themes) {
        background-color: themed('backgroundColor');
    }

    &__solid {

        @include themify($themes) {
            box-shadow: themed('boxShadow');
        }

    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: $padding * 1.5;
        padding-right: $padding * 1.5;
    }

}

.brand {
    font-family: $font-family-heading;
    font-size: $t1;
    font-weight: $font-weight-bold;

    a {
        padding-top: $padding;
        padding-bottom: $padding;
        color: $color-primary;

        span {

            @include themify($themes) {
                color: themed('textColor');
            }

        }

    }

}

.menu {
    position: relative;
}

.nav {
    position: fixed;
    top: 47px;
    right: -12rem;
    height: 100%;
    white-space: nowrap;
    width: 12rem;
    transition: all 300ms ease-in-out;

    @include themify($themes) {
        background-color: themed('backgroundColor');
    }

    &__active {
        right: 0;
    }

}

.main {
    position: relative;
    grid-area: main;

    @include themify($themes) {
        background-color: themed('backgroundColor');
    }

    &__wrapper {
        padding-left: $padding * 1.5;
        padding-right: $padding * 1.5;
    }

}

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: $padding * 6;
    padding-bottom: $padding * 6;

    &__text {
        margin-top: $margin * 2;
        margin-bottom: $margin * 2;
        text-align: center;

        @include themify($themes) {
            color: themed('textColor');
        }

    }

    &__heading {
        line-height: 1;
        font-size: 3rem;
        font-weight: $font-weight-bold;
        font-family: $font-family-heading;
    }

    &__description {
        margin-top: $margin * 2;
        line-height: 1.5;
        font-size: $t3;
        font-weight: $font-weight-medium;
        font-family: $font-family-text;
    }

    &__illustration {
        margin-top: $margin * 2;
        margin-bottom: $margin * 2;

        img {
            width: 100%;
        }

    }

}

.footer {
    grid-area: footer;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: darken($color-primary, 42);

    &__wrapper {
        padding-left: $padding * 1.5;
        padding-right: $padding * 1.5;
    }
}

@media (min-width: 48rem) {

    .header {

        &__wrapper {
            max-width: 90rem;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: $padding $padding * 3;
        }

    }

    .btn {

        &__menu {
            display: none;
        }

        &__enroll {
            display: block;
            @include button-colored;
        }

    }

    .nav {
        position: unset;

        &__items {
            display: flex;
            align-items: center;
        }

        &__item {
            white-space: nowrap;

            a {
                position: relative;
                text-decoration: none;
                font-family: $font-family-text;
                font-size: $t4;
                font-weight: $font-weight-bold;
                padding: $padding;

                @include themify($themes) {
                    color: themed('textColor');
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: $padding;
                    right: $padding;
                    height: 2px;
                    transform: scaleX(0);
                    transition: transform 200ms ease-in-out;

                    @include themify($themes) {
                        background-color: themed('textColor');
                    }

                }

                &:hover::after {
                    transform: scaleX(1);
                }

            }

        }

    }

    .main {

        &__wrapper {
            max-width: 90rem;
            margin: 0 auto;
            padding-left: $padding * 3;
            padding-right: $padding * 3;
        }

    }

    .hero {
        flex-direction: row;

        &__text {
            width: 50%;
            text-align: start;
        }

        &__heading {
            font-size: 4rem;
        }

        &__description {
            font-size: $t2;
        }

        &__illustration {
            width: 50%;
            display: flex;
            justify-content: center;

            img {
                width: 84%;
            }

        }

    }

    .footer {

        &__wrapper {
            padding-left: $padding * 3;
            padding-right: $padding * 3;
        }

    }

}