@import '../scss/variables';

main {
    position: relative;
}

.header {
    max-width: 90rem;
    margin: 0 auto;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.brand {
    font-family: $font-family-heading;
    font-size: $t1;
    font-weight: $font-weight-bold;
}

.nav {

    &__items {
        display: flex;
        align-items: center;
    }

    &__item {

        a {
            text-decoration: none;
            font-family: $font-family-text;
            font-size: $t4;
            font-weight: $font-weight-semiBold;
            padding: $padding;
        }

    }

}