@use '../variables';

$themes: (
    light: (
        backgroundColor: lighten($color-primary, 48),
        textColor: $color-black,
        iconColor: $color-black,
        borderColor: lighten($color-black, 24),
        boxShadow: 0 3px 6px rgba(0, 0, 0, 0.24),
    ),
    dark: (
        backgroundColor: darken($color-primary, 36),
        textColor: $color-white,
        iconColor: $color-white,
        borderColor: darken($color-white, 24),
        boxShadow: 0 3px 6px rgba(255, 255, 255, 0.24),
    ),
);

@mixin themify($themes) {

    @each $theme,
    $map in $themes {
        .theme__#{$theme} & {
            $theme-map: () !global;

            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }

    }

}

@function themed($key) {
    @return map-get($theme-map, $key);
}