@import '../variables';

@mixin button-colored($background-color: $color-primary, $color: $color-white) {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $t5;
    font-weight: $font-weight-semiBold;
    padding: $padding * 1.25 $padding * 3;
    border-radius: $border-radius-medium;
    background-color: $background-color;
    color: $color;

    &:hover {
        background-color: darken($background-color, 6);
    }

}

@mixin button-bordered($border-color: $color-primary, $color: $color-primary, $border-width: $border-medium) {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $t5;
    font-weight: $font-weight-medium;
    padding: $padding * 1.25 $padding * 3;
    border-radius: $border-radius-medium;
    border: $border-width solid $border-color;
    color: $color;

    &:hover {
        background-color: rgba($border-color, 0.08);
    }

}